/*
Theme Name: Laserway on Davey
Theme URI: http://www.laserwayondavey.com.au
Author: Phil McPhee (phil.mcphee@futago.com.au)
Author URI: http://www.futago.com.au/
Description: We are a cosmetic medical laser clinic specialising in the treatment and improvement of common skin conditions.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: health, laser clinic, hobart, tasmania
*/

/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ==========================================================================
   Sitewide
   ========================================================================== */

html{
    min-height: 100%;
    position: relative;
}

body{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'Asap', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Lato', sans-serif;
}

.off-left{
    left: -10000px;
    position: absolute;
}

#header{
    background-color: #53545b;
    height: 128px;
    position: relative;
}

#shape-overlay{
    background-color: rgba(81,197,218,1); 
    height: 128px;
    position: absolute;
    right: 0;
    top: 0;
    width: 224px;
}

#header-inner{
    height: 128px;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    width: 1046px;
}

#header-logo{
    background-color: rgba(81,197,218,1);
    height: 68px;
    left: 0;
    position: absolute;
    top: 33px;
    width: 323px;
}

#menu{
    position: absolute;
    right: 0;
    top: 50px;
}

#menu-mobile-link{
    display: none;
}

#menu ul{
    margin: 0;
    padding: 0;
}

#menu li{
    display: inline;
    margin-left: 25px;
}

#menu a, #footer a{
    color: #fff;
    text-decoration: none;
    -webkit-transition: color 200ms;
    transition: color 200ms;
}

#menu a:hover, #footer a:hover{
    color: #51C5DA;
    -webkit-transition: color 200ms;
    transition: color 200ms;
}

article{
    overflow-x: hidden;
}

#main-content{
    margin-bottom: 250px;
}

#main-content-inner{
    margin: 0 auto;
    max-width: 811px;
    padding-bottom: 20px;
}

#footer{
    background-color: #53545b;
    bottom: 0;
    height: 250px;
    left: 0;
    position: absolute;
    width: 100%;
}

#footer ul{
    margin: 0;
    padding: 40px 0 0 0 ;
    text-align: center;
}

#footer li{
    display: inline;
    font-size: 0.875em;
    margin-left: 10px;
}

#footer li:first-child{
    margin-left: 0;
}

#footer #memberships{
    margin-top: 32px;
    text-align: center;
}

#footer #memberships h3{
    color: #aaa;
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 15px;
}

#footer #memberships a{
    display: inline-block;
    margin-left: 15px;
}

#footer #memberships a:first-child{
    margin-left: 0;
}

@media(max-width: 1046px){

    #header{
        height: auto;
    }

    #shape-overlay{
        display: none;
    }

    #header-inner{
        height: auto;
        padding-top: 15px;
    }

    #header-logo{
        display: block;
        height: 59px;
        margin: 0 auto 30px;
        position: relative;
        top: 0;
        width: 268px;
    }

    #menu{
        position: relative;
        top: 0;
    }

    #menu-mobile-link{
        background-color: #444;
        display: inline-block;
        margin-left: 4px;
        padding: 5px 22px;
    }

    #menu-mobile-link img{
        height: 13px;
        margin-right: 8px;
        width: 17px;
    }

    #menu ul{
        background-color: #444;
        display: none;
        padding: 10px 0;
    }

    #menu li{
        display: block;
        margin: 0;
    }

    #menu li a{
        display: block;
        padding: 10px 0 10px 25px;
    }

}

@media(max-width: 700px){

    #header-logo{
        height: 47px;
        width: 215px;
    }

}


/* ==========================================================================
   Homepage
   ========================================================================== */

.home-top-inner, .home-bottom > .panel-grid-cell{
    margin: 0 auto;
    width: 923px;
}

.home-bottom{
    background-color: #eee;
    border-top: 1px solid #ddd;
}

.slideshow{
    height: 384px;
    margin: 50px auto 0;
    overflow: hidden;
    position: relative;
    width: 923px;
}

.slideshow img{
    left: 0;
    position: absolute;
    top: 0;
}

.slideshow-text{
    height: 384px;
    position: absolute;
    right: 0;
    top: 0;
    width: 396px;
}

.slideshow-text p{
    color: #444;
    font-family: 'Lato', sans-serif;
    font-size: 1.625em;
    font-weight: bold;
    margin: 0;
    position: absolute;
    right: 25px;
    text-align: right;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    width: 209px;
}

.slideshow-text canvas{
    height: 384px;
    width: 396px;
}

.tagline{
    color: #666;
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 70px;
    text-align: center;
    width: 874px;
}

.tagline p{
    margin: 10px;
}

.tagline a{
    background-color: #666;
    border-radius: 5px;
    color: #fff;
    font-size: 0.438em;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: background-color 200ms;
    transition: background-color 200ms;
}

.tagline a:hover{
    background-color: #51C5DA;
    -webkit-transition: background-color 200ms;
    transition: background-color 200ms;
}

.box-row{
    display: flex;
    display: -webkit-flex;
    margin-top: 25px;
}

.box-row .widget{
    height: 100%;
}

.box-row .panel-grid-cell .textwidget{
    background-color: #ddd;
    height: calc(100% - 20px);
    padding: 10px 0;
    position: relative;
    -webkit-transition: background-color 200ms;
    transition: background-color 200ms;
}

.box-row .panel-grid-cell .textwidget:hover{
    background-color: #9EDAE4;
    -webkit-transition: background-color 200ms;
    transition: background-color 200ms;
}

.box-row .panel-grid-cell  .textwidget a{
    height: 100%;
    position: absolute;
    text-decoration: none;
    width: 100%;
}

.box-row .panel-grid-cell  .textwidget h2{
    color: #666;
    margin: 15px;
    text-decoration: none;
}

.box-row .panel-grid-cell  .textwidget p{
    color: #52535A;
    font-size: 0.812em;
    margin: 20px 15px;
    text-decoration: none;
}

.box-row .panel-grid-cell .textwidget img {
  width: 100%;
}

.contact-row {
    display: table;
    margin: 0 auto;
    padding: 30px 0;
    width: 543px;
}

.contact-box{
    display: table-cell;
    width: 50%;
}

.contact-row img{
    float: left;
    height: 58px;
    margin-top: -7px;
    margin-right: 20px;
    width: 68px;
}

.contact-row p{
    margin: 6px 0 0 0;
}

.contact-row a{
    color: #666666;
}

@media(max-width: 1046px){

    .slideshow, .slideshow img{
        width: 100%;
    }

    .slideshow img{
        height: auto;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 100%;
    }

    .tagline{
        margin: 0 auto;
        max-width: 100%;
        width: 453px;
    }

    .home-top-inner, .home-bottom > .panel-grid-cell{
        width: auto;
    }

    .home-bottom{
        position: relative;
    }

    .box-row{
        display: block;
    }

    .box-row .panel-grid-cell {
        display: inline-block;
        margin-left: 4%;
        vertical-align: top;
        width: 44% !important;
    }

    .box-row .panel-grid-cell .textwidget{
        height: auto;
    }

    .box-row .panel-grid-cell .textwidget a{
        width: calc(100% - 15px);
    }

    .box-row .panel-grid-cell .textwidget img{
        height: auto;
    }

    .contact-row{
        bottom: 98px;
        position: absolute;
        right: 12px;
        width: 44%;
    }

}

@media(max-width: 700px){

    .slideshow{
        height: 209px;
        margin-bottom: 134px;
        margin-top: 10px;
        overflow: visible;
    }

    .slideshow > .panel-grid-cell{
        height: 100%;
    }

    .slideshow img{
        min-width: auto;
    }

    .so-panel.widget.widget_sow-image {
        height: 100%;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .slideshow-text{
        background-color: #4EC6DB;
        display: block;
        height: auto;
        left: inherit;
        padding: 20px;
        position: relative;
        top: 197px;
        width: auto;
    }

    .slideshow-text canvas{
        display: none;
    }

    .slideshow-text p{
        font-size: 1em;
        margin-top: 20px;
        position: relative;
        right: inherit;
        text-align: left;
        top: 0;
        width: auto;
    }

    .tagline{
        font-size: 1.2em;
    }

    .tagline a{
        display: inline-block;
        font-size: 0.7em;
        margin-top: 10px;
    }

    .box-row .panel-grid-cell{
        display: block;
        margin: 0;
        width: 100% !important;
    }

    .box-row .panel-grid-cell .textwidget{
        margin: 0 15px;
    }

    .contact-row{
        bottom: inherit;
        margin: 0 0 0 30px;
        padding: 20px;
        position: relative;
        right: inherit;
        width: auto;
    }

    #footer li{
        display: block;
        font-size: 1em;
        margin-left: 53px !important;
        margin-bottom: 5px;
        text-align: left;
    }

}



/* ==========================================================================
   Subpages
   ========================================================================== */

#main-content-top{
    display: table;
    height: 262px;
    margin-bottom: 50px;
    width: 100%;
}

#main-content-top > div{
    display: table-cell;
    position: relative;
}

#content-banner-left, #content-banner-right{
    width: calc((100% - 1045px) / 2);
}

#content-banner-left{
    background-color: rgba(170,170,170,0.9);
}

#content-banner-image{
    width: 666px;
}

#content-banner-image img{
    left: 0;
    position: absolute;
    top: 0;
    z-index: -1;
}

#content-banner-text{
    width: 379px;
}

#content-banner-text h1{
    color: #fff;
    font-size: 3.125em;
    font-weight: normal;
    position: absolute;
    top: 60px;
    left: 122px;
}

.hero-text p{
    color: #444;
    font-family: 'Lato', sans-serif;
    font-size: 1.375em;
    font-weight: bold;
}

.ruled-box {
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

#main-content-inner h3{
    font-size: 1.375em;
    margin-bottom: 10px;
}

#main-content-inner h4{
    color: #666;
    font-weight: normal;
    margin-top: 0;
}

#main-content-inner .textwidget h3:first-of-type {
    margin-top: 0;
    line-height: 1;
}

@media(max-width: 1046px){

    #main-content-top{
        overflow: hidden;
    }

    #main-content-inner .so-panel.widget.widget_sow-image{
        max-width: 400px;
    }

    #main-content-inner{
        padding: 0 20px;
    }

}

@media(max-width: 700px){

    #main-content-top{
        height: auto;
        margin-bottom: 0;
        padding: 0 20px;
        width: calc(100% - 40px);
    }

    #content-banner-left{
        display: none !important;
    }

    #content-banner-image{
        display: none !important;
    }

    #content-banner-text{
        display: block !important;
        width: auto;
    }

    #content-banner-text canvas{
        display: none;
    }

    #content-banner-text h1{
        left: inherit;
        position: relative;
        top: inherit;
    }

    #content-banner-right{
        display: none !important;
    }

    #main-content-inner{
        padding: 20px;
    }

    #main-content-inner .so-panel.widget.widget_sow-image {
        height: auto;
        left: inherit;
        overflow: visible;
        position: relative;
        top: inherit;
        width: auto;
    }

}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
